<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rplgdc.hotelseeker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".BookingActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoInternetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate.NoActionBar" />
        <activity
            android:name=".OnBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate" />
        <activity
            android:name=".TermPrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate.NoActionBar" />
        <activity
            android:name=".RoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate" />
        <activity
            android:name=".HotelInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlternate.NoActionBar" />
    </application>

</manifest>